.signInModal{
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(169, 169, 169, 0.62);
    z-index: 20;
    
}


.signIn-form{
    display: grid;
    place-content: start center;
    gap: 10px;
} 